:root{
      --first-font:'Abel', sans-serif;
      --second-font:'Crimson Text', serif;
      --third-font:'Montserrat', sans-serif;
      --fourth-font:'Rajdhani', sans-serif;
}
body::before{
     content: "";
     display: block;
     height: 60px;
}
header{
     height: 40vh;
}
header h3{
     animation: slideInFromBottom 1s ease-in-out;
}
.row{
     font-family: var(--first-font);
     text-align: justify;
}
h4{
     font-family: var(--first-font) !important;
     color: #112311;
}

/* Animation */

@keyframes slideInFromBottom{
     0%{
          transform: translateY(100%);
     }
     100%{
          transform: translateX(0);
     }
}